.search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-bottom: 2rem;
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

input {
  border: none;
  height: 56px;
  width: 525px;
  background-color: var(--background-light);
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  padding: 20px;
  color: var(--foreground);
}

input::placeholder {
  color: gray;
}

@media (max-width: 1280px) {
  .countries-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  input {
    width: 350px;
  }
}

@media (max-width: 960px) {
  .countries-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  input {
    width: 350px;
  }
}

@media (max-width: 720px) {
  .countries-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;

    padding-inline: 50px;
  }

  input {
    width: 91%;
  }

  .search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 40px;

    width: 110%;
    padding-bottom: 3rem;
  }
}
